# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db

typings
app/*.js
app/**/*.js
app/**/*.map
jspm_packages
bower_components
*.log
*.zip